#### （一）If Elif and Else Statements in Python

In [1]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
if 3>2:
    print("ITS TRUE!")

ITS TRUE!

In [5]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I\'m not not hungry")

I'm not not hungry

In [7]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool1")
elif loc == 'Bank':
    print("Money is cool!")
else:
    print("I do not know much.")

Money is cool!

In [8]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

#### （二）For Loops in Python

In [9]:
mylist = [1,2,3]

In [10]:
for num in mylist:
    print(num)

1
2
3

In [11]:
mylist1 = [(1,2), (3,4), (5,6), (7,8)]

In [12]:
for (a, b) in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [13]:
for a, b in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [14]:
d = {'k1':1, 'k2': 2, 'k3':3}

for item in d:
    print(item)

k1
k3
k2

In [23]:
for item in d.items():
    print(item)

('k1', 1)
('k3', 3)
('k2', 2)

In [24]:
for key, value in d.items():
    print(key)
    print(value)

k1
1
k3
3
k2
2

In [25]:
for item in d.keys():
    print(item)

k1
k3
k2

In [26]:
for item in d.values():
    print(item)

1
3
2

#### （三）While Loops in Python

In [3]:
x = 0

while x < 10:
    print('The current value of x is %s' % x)
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
The current value of x is 5
The current value of x is 6
The current value of x is 7
The current value of x is 8
The current value of x is 9
X IS NOT LESS THAN 5

#### break, continue, pass        
We can usr break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:
```
break: Breaks out of the current closest enclosing loop.
continue:Goes to the top of the closest enclosing loop.
pass:Does nothing at all.
```

In [4]:
x = [1,2,3]

for item in x:
    pass

In [5]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [6]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [8]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

#### （四）Useful Operators in Python

In [9]:
mylist = [1,2,3]

In [13]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

In [14]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [15]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [17]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [18]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [20]:
word = 'abcde'
#enumerate:back some of index counter and then the object
#itself or the elements ant that particular iteration.
for index, letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [26]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [27]:
#The zip function will just like a zipper on a jacket zipped together
#these two lists and pair up these items so that
#they match together and you can actually 
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [29]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d']
mylist3 = [100,200,300,400]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [30]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [31]:
mylist = [10,20,30,40,100]

In [32]:
min(mylist)

10

In [33]:
max(mylist)

100

In [34]:
from random import shuffle

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [40]:
random_list = shuffle(mylist)

In [43]:
type(random_list)

NoneType

In [44]:
mylist

[1, 5, 10, 8, 9, 2, 6, 4, 3, 7]

In [45]:
from random import randint

In [46]:
randint(0,100)

15

In [47]:
randint(0,100)

27

In [48]:
mynum = randint(0,10)

In [49]:
mynum

3

In [51]:
result = input('Enter a number here:')

Enter a number here:20

In [52]:
result

'20'

In [53]:
float(result)

20.0

In [54]:
int(result)

20

In [55]:
type(result)

str

In [56]:
result

'20'

In [57]:
result = int(input('Enter a number here:'))

Enter a number here:10

In [58]:
result

10

In [59]:
type(result)

int

#### (五）List Comprehensions in Python

In [60]:
mystring = 'hello'

In [61]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [62]:
mylist

['h', 'e', 'l', 'l', 'o']

In [66]:
#list comprehensions
mylist = [letter for letter in mystring]

In [67]:
mylist

['h', 'e', 'l', 'l', 'o']

In [69]:
mylist = [x for x in 'world']

In [70]:
mylist

['w', 'o', 'r', 'l', 'd']

In [71]:
mylist = [x for x in range(0,11)]

In [72]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
mylist = [num for num in range(0,11) if num%2==0]

In [76]:
mylist

[0, 2, 4, 6, 8, 10]

In [77]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [78]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [79]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [80]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [82]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [83]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [84]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [85]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]